
h1{
    padding: 40px 20px;
}

.contactUs_info{
    margin-bottom: 100px;
}
.contactUs_info_txt span{
    font-weight:700;
}

.contactUs_info_txt li{
    padding:10px 5px;
    border-bottom: 1px dashed #ccc;
    margin: 10px 0;
}

.contactUs_info_txt ul img{
    width: 20px;
    padding: 6px;
}

.store{
    margin-top: 40px;
}

.contactUs_info_txt p{
    text-align: right;
}
.contactUs_info_txt a{
    font-size: 12px;
    color:#777;
    text-decoration: underline;
    
}

.googleMap{
    display: none;
}

.store_pic{
    position:relative;
}
.store span{
    font-size: 30px;
}

.store p{
    line-height:1.8;
    text-align: left;
    width: 100% ;
    box-sizing: border-box;

    /* color:#fff;
    background-color: rgba(0,0,0,0.6); */
}


.contactUs_input{
    text-align: center;
    margin: 40px auto;
}

.contactUs_input img{
    width: 40px;
    position:relative;
    animation:formMove 2s infinite;
}

@keyframes formMove{
0%{bottom: 10px;}
50%{bottom: 0px;}
100%{bottom: 10px;}
}

.contactUs_input input,textarea{
    display:block;
    border:1px solid #777;
    border-radius:5px;
    line-height:4;
    margin: 5px 0;
    width: 100%;
    box-sizing:border-box;
    padding-left: 10px;
}

.contactUs_input_form{
    width: 90%;
    margin:20px auto 0;
    text-align: center;
}

.contactUs_input .button{
    margin-top: 20px;
} 
@media screen and (min-width:768px){
    .contactUs_info{
        display:flex;
        align-items: center;
        justify-content:center;
    }

    .contactUs_info_txt{
        width:50%;
        padding:50px 10px 100px;
        box-sizing:border-box;
        text-align: left;
    }

    .map{
        display:none
    }

    .map + p{
        display:none
    }

    .googleMap{
        display:block;
        width: 80%;
        padding-bottom: 50%;
        position: relative;
        margin: auto;
    }

    iframe{
        position:absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
 
    .store{
        width: 50%;
        max-width:600px;
        overflow: hidden;
        box-sizing: border-box;
        padding:0 40px;
        margin-top: 0;
        border-left:1px solid #ccc;
    }

    .store_pic{
        border-radius: 10px;
        overflow: hidden;
    }

    .store p{
        position:absolute;
        top: calc(100% - 80px);
        left: 0;
        bottom: 0;
        transition:0.5s;
        color:#fff;
        background-color: rgba(0,0,0,0.6);
        padding: 20px;
    }

    .store:hover p{
        top:20%;
    }

    .contactUs_input{
        padding: 20px;
        width: 92%;
        max-width:920px;
        margin: auto;
    }
}

@media screen and (min-width:992px){
    .contactUs_info_txt{
        width: 40%;
    }

    .googleMap{
        padding-bottom: 80%;
    }

    .store{
        width: 40%;
    }
}

@media screen and (min-width:1200px){
    .store:hover p{
        top:50%;
    }
}
